<div class="row justify-content-center">
  <div class="col-lg-8 col-md-10 col-12">
    <div class="module_container">
      <div class="row">
        <a class="card icon-card" href="/inventory">
          <img src="/assets/images/inventory-icon.png" class="card-img-top" alt="Inventory Icon">
          <div class="card-body">
            <p class="card-text text-center icon-name">Inventario</p>
          </div>
        </a>

        <a class="card icon-card" href="/sales">
          <img src="/assets/images/sales-icon.png" class="card-img-top" alt="Inventory Icon">
          <div class="card-body">
            <p class="card-text text-center icon-name">CRM / Ventas</p>
          </div>
        </a>

        <a class="card icon-card" href="/purchase">
          <img src="/assets/images/purchase-icon.png" class="card-img-top" alt="Inventory Icon">
          <div class="card-body">
            <p class="card-text text-center icon-name">Compras</p>
          </div>
        </a>

        <a class="card icon-card" href="/logistics">
            <img src="/assets/images/logistic-icon.png" class="card-img-top" alt="Inventory Icon">
            <div class="card-body">
              <p class="card-text text-center icon-name">Logística</p>
            </div>
        </a>

          <a class="card icon-card" href="#">
          <img src="/assets/images/manufacturing-icon.png" class="card-img-top" alt="Inventory Icon">
          <div class="card-body">
            <p class="card-text text-center icon-name">MPR</p>
          </div>
        </a>

        <a class="card icon-card" href="/financial">
          <img src="/assets/images/financial-icon.png" class="card-img-top" alt="Inventory Icon">
          <div class="card-body">
            <p class="card-text text-center icon-name">Finanzas</p>
          </div>
        </a>

        <a class="card icon-card" href="/hrm">
          <img src="/assets/images/rrhh-icon.png" class="card-img-top" alt="Inventory Icon">
          <div class="card-body">
            <p class="card-text text-center icon-name">RRHH</p>
          </div>
        </a>

        <a class="card icon-card" href="/utils">
            <img src="/assets/images/utilities-icon.png" class="card-img-top" alt="Inventory Icon">
            <div class="card-body">
              <p class="card-text text-center icon-name">Utilidades</p>
            </div>
        </a>

        <a class="card icon-card" href="/financial/pettycash">
          <img src="/assets/images/pettycash2-icon.png" class="card-img-top" alt="Inventory Icon">
          <div class="card-body">
            <p class="card-text text-center icon-name">Caja Chica</p>
          </div>
      </a>

        <!-- <div class="card icon-card">
          <img src="/assets/images/accounting-icon.png" class="card-img-top" alt="Inventory Icon">
          <div class="card-body">
            <p class="card-text text-center icon-name">Contabilidad</p>
          </div>
        </div>  -->


      </div>
    </div>
  </div>
</div>


