<div class="order-section">
  <h5 class="fw-semibold mb-3" id="client">Create a Maximilian</h5>
  <p class="text-muted small mb-4" id="order_number">#3992327
    <br>
    <span id="order_date">22 Jul 2024</span>
  </p>
  <div class="dashed-divider"></div>

  <div class="mb-4">
    <div class="d-flex justify-content-between mb-2">
      <span>Total</span>
      <span>$211.00</span>
    </div>
    <div class="d-flex justify-content-between">
      <span>Pagado</span>
      <span>$0.00</span>
    </div>

    <div class="d-flex justify-content-between">
      <span>Restante</span>
      <span>$221.00</span>
    </div>

    <div class="d-flex justify-content-between">
      <span>Cambio</span>
      <span>$00.00</span>
    </div>
  </div>



  <div class="payment-methods">

    <button class="btn btn-outline-success w-100 round">Registrar Pago</button>
    <button class="btn btn-outline-primary w-100 mt-3 round">Facturar</button>
  </div>
</div>