<footer>
	<div class="footer clearfix mb-0 text-muted">
		<div class="float-left">
			<p><%= new Date().getFullYear()%> &copy; Rivera's Group</p>
		</div>
		<div class="float-right">
			<p>Designed and developed by
				 
				<a href="javascript:location.reload();">Luis Rivera</a>
				<!-- <a href="http://riverasgroup.com/development">Luis Rivera</a> -->
			</p>
		</div>
	</div>
</footer>

