<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= (pageTitle != undefined ? pageTitle : 'Riveras Group') %></title>
<base href="<%=baseURL%>/"/>
<link rel="manifest" href="manifest.json">
<link rel="stylesheet" href="assets/libs/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="assets/libs/cropperjs/cropper.css">
<link rel="stylesheet" href="assets/css/bootstrap.css">
<link rel="stylesheet" href="assets/css/app.css">
<link rel="stylesheet" href="assets/css/toastr.css" >
<link rel="stylesheet" href="assets/css/icon-font.css">
<link rel="shortcut" href="assets/images/favicon.svg" type="image/x-icon">
<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
